<div class="sidenav">
  <div class="login-main-text">
     <h2>Portfolio<br> Login Page</h2>
     <p>Access my projects, skills, and experiences—login to explore!</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
        <form>
           <div class="form-group">
              <label>User Name</label>
              <input type="text" class="form-control" placeholder="User Name">
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Password">
           </div>
           <button type="button" class="btn btn-black" (click)="loginUser()">Login</button>
           <button type="button" class="btn btn-secondary">Register</button>
        </form>
     </div>
  </div>
</div>
